body {
  background-color: #00050a;
  margin: 0px;
  font-family: "NexaRegular";
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "NexaRegular";
  src: url("../font/NexaRegular.woff2") format("woff2"),
    url("../font/NexaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.navbar {
  color: #ffffff;
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 0 5% 0 5%;
}

.navbar-left div:hover {
  opacity: 90%;
  border-radius: 5px;
  background-color: white;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left > *,
.navbar-right > * {
  margin: 10px;
}

.element {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.5);
}

.element::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #00ff00;
  opacity: 1;
  transition: width 0.3s ease-out;
  border-radius: 0 0 5px 5px;
}

.element:hover::before {
  width: 100%;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.intro {
  width: 80%;
  text-align: center;
  margin: 5% 10%;
  height: auto;
  margin-bottom: 10%;
}

.intro svg {
  margin-top: 30px;
  height: 150px;
}

h2 {
  font-size: 2em;
  margin: 50px 0;
  color: #fff;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 5%;
}

p {
  font-size: 1em;
  margin: -10px 0;
  color: #fff;
}

.competence,
.projet,
.experience {
  color: #fff;
  margin: 10% 5%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s, transform 1s;
}

.competence svg {
  width: 30px;
  height: 30px;
}

.progress-bar {
  width: 80%;
  height: 20px;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
}

.progress-1 {
  height: 100%;
  background-color: #00ff00;
  width: 90%;
}

.progress-2 {
  height: 100%;
  background-color: #00ff00;
  width: 30%;
}

.progress-3 {
  height: 100%;
  background-color: #00ff00;
  width: 75%;
}

.progress-4 {
  height: 100%;
  background-color: #00ff00;
  width: 50%;
}

.list-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.home-hero__mouse-scroll-cont {
  display: none;
}

.mouse {
  display: none;
}

.projects__row {
  margin-bottom: 3rem;
}

.projects__row-img-cont {
  overflow: hidden;
}

.projects__row-img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.projects__row-content {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.projects__row-content-title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.projects__row-content-desc {
  font-size: 0.8rem;
  color: grey;
  max-width: 90%;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.projects__row-link {
  text-decoration: none;
  padding: 5px;
  border: solid #00ff00;
  color: #00ff00;
  border-radius: 18px;
}

.apha {}

img {
  width: 5em;
}
